body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

button{
  background-color: #3b3b3b;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
}